<ul id="findList">
    {{#each applicant}}
    <li class="project">
        <hi>{{name}}</hi>
        <p>{{rating}}</p>
        <button id="profileBtn" class="btn-grad" data-id="{{id}}">View Profile</button>
    </li>
    {{/each}}
</ul>