<div class="container-fluid rate justify-content-center text-center col-sm-8 rateBox">
    <div class="row m-2">
        <h2 class="ml16">We all need people who will give us feedback. That is how we improve.</h2>
        <h3>– Bill Gates</h3>
    </div>
    <br>
    <h1 class="bold">Rate The Developer</h1>
    <div id="ratingPage">
        <div id="rater"></div>

        <div class='form-group'>
            <label for='exampleInputEmail1' class="bold">Please leave a review for the developer</label>
            <textarea type='text' class='form-control' id='comment' placeholder='Type your thoughts here'></textarea>
        </div>

        <button class="finishProject btn-grad" data-uid="{{userId}}" data-pid="{{projId}}">Submit</button>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="https://twitter.github.io/typeahead.js/js/handlebars.js"></script>
{{!-- <script src="/js/startup.js"></script> --}}
<script src="/rater-js/index.js"></script>
<script src="/rater-js/rating.js"></script>
<script src="/js/index.js"></script>
<script src="/js/review.js"></script>