<h1>Rate This User</h1>
<div id="ratingPage">
    <div id="rater"></div>

    <div class='form-group'>
        <label for='exampleInputEmail1'>Have something to say about this User?</label>
        <textarea type='text' class='form-control' id='comment' placeholder='Type your thoughts here'></textarea>
    </div>

    <button class="finishProject" data-uid="{{userId}}" data-pid="{{projId}}">Submit</button>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="https://twitter.github.io/typeahead.js/js/handlebars.js"></script>
<script src="/js/startup.js"></script>
<script src="/rater-js/index.js"></script>
<script src="/rater-js/rating.js"></script>
<script src="/js/review.js"></script>