 <nav class="navbar navbar-expand-md navbar-dark fixed-top mx-auto">
        <div class="container navcont">
            <a class="navbar-brand p-0" href="/" id="logo">
                SQWASH
            </a>
            <div class="collapse navbar-collapse" id="navbarStartup">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item pr-4">
                        <a class="nav-link" href="/org-logout">Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

<div class="container-fluid" id="startupContainerMain">
    <div class="row">
        <div class="col-sm-12">
            <div class="container-fluid">
                <div class="row">
                    <div class="col profile">
                        <div class="name">
                            <h1>Hello, {{startup_name}}</h1>
                        </div>
                        <p>User Email: {{startup_email}}</p>
                    <a class="navbar-brand" href="/org-logout">
                        Logout
                    </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-3">

            <div class="container-fluid projDisp">
                <div class="btn-group" role="group" aria-label="Basic example">
                    <button type="button" class="btn-proj btn-secondary" id="find">Active</button>
                    <button type="button" class="btn-proj btn-secondary" id="active">Proccess</button>
                    <button type="button" class="btn-proj btn-secondary" id="complete">Complete</button>
                </div>
                <div class="col-sm-12" id="projView">

                </div>

            </div>
        </div>
        <div class="p-0 col-sm-9 box" id="project-display-section">

        </div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<script src="https://twitter.github.io/typeahead.js/js/handlebars.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/startup.js"></script>