#user-image {
    text-align: center;
    margin-top: 5%;
    margin-bottom: 1%;
    background-color: transparent;

}

#avatar {
    height: 400px;
}

#user-view {
    overflow: scroll;
    height: 600px;
    border-right: 3px dashed #F09819;
    text-align: center;
}

.fixed {
    position: absolute;
    width: inherit;
}

li{
    list-style-type: none;
    margin: 0px 5px 0px 5px;
}

li.techList:after {
    content: ',';
}

li.techList:last-of-type:after {
    content: '';
}

.comma-list {
    text-align: center;
    margin-left: 40px;
}

h1 {
    text-align: center;
}
