body {
    background-image: url("../img/background.jpg");
    background-size: contain; 
    background-repeat: no-repeat;
    background-color: rgba(0,0,0,0.5);
    background-blend-mode: multiply;
    color: white;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
}

.ml16 {
    color: white;
    /* background: -webkit-linear-gradient(to right, #F09819 0%, #EDDE5D 51%, #F09819 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
    padding: 40px 0;
    font-weight: 800;
    font-size: 5em;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    overflow: hidden;
}
  
.ml16 .letter {
    display: inline-block;
    line-height: 1em;
}

.navbar.scrolled {
    background-color: #7F7F7F !important; 
    transition: background-color 200ms linear;
}

h1 {
    margin-top: 20%;
    /* font-family: 'Julius Sans One', sans-serif; */
    font-family: 'Permanent Marker', cursive;
    font-size: 200%;
}

.about {
    margin-top: 40%;
}


/* Footer */
#footer {
    padding: 20px 0px 0px 0px;
    width: 100%;
    bottom: 0;
}

#footer p {
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    color: white;
    width: 100%;
    margin: 0px;
}

.carousel-inner {
    width: 80%;
    padding: 0 40px;
    margin: auto;
}

/* Modal */
.modal-content {
    background-color: rgb(61, 61, 61);
    opacity: 90%;
}

.modal-header, .modal-footer {
    border: none;
}

.modal-footer {
    padding: 0 0 20px 0;
}

/* Buttons */
.btn-grad {
    color: white;
    margin: auto;
    padding: 10px 50px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    transition: 0.5s;
    background-size: 200% auto;
    border: 0px solid black;
    border-radius: 40px;
    display: block;
    background-image: linear-gradient(to right, #F09819 0%, #EDDE5D 51%, #F09819 100%)
}

.btn-grad:hover { 
    background-position: right center; 
}

.close {
    color: white;
    border: 0 solid black;
}

.close:hover {
    color: #F09819;
    border: 0 solid black;
}
