body {
    background-image: url("../img/background.jpg");
    background-size: contain; 
    background-repeat: no-repeat;
    background-color: rgba(0,0,0,0.5);
    background-blend-mode: multiply;
    color: white;
    /* text-align: center; */
    font-family: 'Quicksand', sans-serif;
}

.ml16 {
    color: white;
    /* background: -webkit-linear-gradient(to right, #F09819 0%, #EDDE5D 51%, #F09819 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
    padding: 40px 0;
    font-weight: 800;
    font-size: 5em;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    overflow: hidden;
}
  
.ml16 .letter {
    display: inline-block;
    line-height: 1em;
}

.navbar.scrolled {
    background-color: #7F7F7F !important; 
    transition: background-color 200ms linear;
}

h1 {
    margin-top: 20%;
    font-family: 'Julius Sans One', sans-serif;
    /* font-family: 'Permanent Marker', cursive; */
    font-size: 200%;
}

.register {
    color: #ffbb00 !important;
    border: 1px solid #ffbb00;
    padding: 0.5rem;
}

.about {
    margin-top: 40%;
}


/* Footer */
#footer {
    padding: 20px 0px 0px 0px;
    width: 100%;
    bottom: 0;
}

#footer p {
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    color: white;
    width: 100%;
    margin: 0px;
}

.carousel-inner {
    width: 80%;
    padding: 0 40px;
    margin: auto;
}

/* Modal */
.modal-content {
    background: rgba(0,0,0,0.7);
}

.modal-header, .modal-footer {
    border: none;
}

.modal-footer {
    padding: 20px 0;
}

/* Buttons */
.btn-grad {
    color: white;
    margin: auto;
    padding: 10px 50px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    transition: 0.5s;
    background-size: 200% auto;
    border: 0px solid black;
    border-radius: 40px;
    display: block;
    background-image: linear-gradient(to right, #F09819 0%, #EDDE5D 51%, #F09819 100%)
}

.btn-grad:hover { 
    background-position: right center; 
}

.close {
    color: white;
    border: 0 solid black;
}

.close:hover {
    color: #F09819;
    border: 0 solid black;
}

.down {
    font-size: 2em;
}

.col-1 {
    margin: auto;
}


@-moz-keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      -moz-transform: translateY(0);
      transform: translateY(0);
    }
    40% {
      -moz-transform: translateY(-30px);
      transform: translateY(-30px);
    }
    60% {
      -moz-transform: translateY(-15px);
      transform: translateY(-15px);
    }
}

@-webkit-keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
    40% {
      -webkit-transform: translateY(-30px);
      transform: translateY(-30px);
    }
    60% {
      -webkit-transform: translateY(-15px);
      transform: translateY(-15px);
    }
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      -moz-transform: translateY(0);
      -ms-transform: translateY(0);
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
    40% {
      -moz-transform: translateY(-30px);
      -ms-transform: translateY(-30px);
      -webkit-transform: translateY(-30px);
      transform: translateY(-30px);
    }
    60% {
      -moz-transform: translateY(-15px);
      -ms-transform: translateY(-15px);
      -webkit-transform: translateY(-15px);
      transform: translateY(-15px);
    }
}

.arrow {
    position: absolute;
    bottom: 0;
    left: 50%;
    color: #F09819;
    margin-left: -20px;
    width: 40px;
    height: 60px; /*change with size of arrow to make sit on bottom */
  /*   background-image: url(); */
  /*   background-size: contain; */
}
  
.bounce {
    -moz-animation: bounce 2s infinite;
    -webkit-animation: bounce 2s infinite;
    animation: bounce 2s infinite;
}

.validate {
    padding: 0;
}