html, body {
    height: 100%;
}

body {
    background-image: url("../img/background.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0.3);
    background-blend-mode: multiply;
    color: white;
    font-family: 'Quicksand', sans-serif;
}

.register {
    color: #ffbb00 !important;
    border: 1px solid #ffbb00;
    padding: 0.5rem;
}

.ml16 {
    color: white;
    padding: 40px 0;
    font-weight: 800;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 0.5em;
    overflow: hidden;
    text-align: center;
    margin-top: 5%;
    font-family: 'Julius Sans One', sans-serif;
}

.ml16 .letter {
    display: inline-block;
    line-height: 1em;
}

.navbar.scrolled {
    background-color: #7F7F7F !important;
    transition: background-color 200ms linear;
}

.box {
    margin: auto;
    padding: 2% 2%;
    background: rgba(0,0,0,0.7);
}

#big {
    margin-top: 20%;
    font-family: 'Julius Sans One', sans-serif;
    font-size: 6em;
}

.form-check {
    text-align: left;
}

.join {
    margin: auto;
}

.about {
    margin-top: 20.3%;
    background-color: black;
}


/* Footer */
#footer {
    padding: 20px 0px 0px 0px;
    width: 100%;
    bottom: 0;
    background-color: #7F7F7F;
}

#footer p {
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    color: white;
    width: 100%;
    margin: 0px;
}

.carousel-inner {
    width: 80%;
    padding: 0 40px;
    margin: auto;
}

/* Modal */
.modal-content {
    background: rgba(0,0,0,0.7);
    float: center;
}

.modal-header,
.modal-footer {
    border: none;
}

.modal-footer {
    padding: 20px 0;
}

/* Buttons */
.btn-grad {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    margin: auto;
    padding: 10px 50px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    transition: 0.5s;
    background-size: 200% auto;
    border: 0px solid black;
    border-radius: 40px;
    display: block;
    background-image: linear-gradient(to right, #F09819 0%, #EDDE5D 51%, #F09819 100%)
}

.btn-grad:hover {
    background-position: right center;
}

.close {
    color: white;
    border: 0 solid black;
    text-shadow: none;
}

.close:hover {
    color: #F09819;
    border: 0 solid black;
}


.card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
    background: #f1f1f1;
    /* margin-bottom: 2rem; */
    background-color: white;
    color: black;
    border: 0 solid black;
}

.card h3 {
    margin-bottom: 2rem;
}

.card img {
    height: 400px;
}

.card>div {
    padding: 2rem;
}

.card:nth-child(even) img {
    order: 2;
}

.down {
    font-size: 2em;
}

.col-1 {
    margin: auto;
}

/* startup dashboard style */
#profileView {
    margin: 5% 10% 2% 10%;
    text-align: center;
    border: outset 0px rgb(182, 171, 171);
}

#projDisp {
    /* margin-left: 40%; */
    /* text-align: center; */
    border-right: 3px dashed #F09819;
    background: rgba(0,0,0,0.6);
}

#project-display-section {
    text-align: center;
    height: 400px;
    padding: 20px;
    border: outset 0px rgb(182, 171, 171);
    background: rgba(0,0,0,0.6);

}

.btn-proj {
    background: transparent;
    padding: 10px;
    border: 0 solid black;
}

#startupContainerMain {
    margin-bottom: -50px;
}
/* LILY these are the styles for the candidate list */
#candidateList {
    color: white;
    background-color: transparent;
}

.applieddeveloper {
    background-color: transparent;
}

.pickFinalUser {
    margin-left: 40px;
}
/* .input-mysize {
    width: 200px;
} */

/* #startupWindows {
    margin: 0 10% 10% 10%;
    text-align: center;
} */

.developer {
    background-color: transparent;
    padding: 40px;
}

.startupFooter {
    /* position: fixed; */
    /* left: 0;
    bottom: 0; */
    width: 100%;
    height: 50px;
    background-color: #747474;
    color: white;
    text-align: center;
    padding: 10px;
  }


/* #reqProj {
    width: auto;
    margin: auto;
} */

@-moz-keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      -moz-transform: translateY(0);
      transform: translateY(0);
    }
    40% {
      -moz-transform: translateY(-30px);
      transform: translateY(-30px);
    }
    60% {
      -moz-transform: translateY(-15px);
      transform: translateY(-15px);
    }
}

@-webkit-keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
    40% {
      -webkit-transform: translateY(-30px);
      transform: translateY(-30px);
    }
    60% {
      -webkit-transform: translateY(-15px);
      transform: translateY(-15px);
    }
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      -moz-transform: translateY(0);
      -ms-transform: translateY(0);
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
    40% {
      -moz-transform: translateY(-30px);
      -ms-transform: translateY(-30px);
      -webkit-transform: translateY(-30px);
      transform: translateY(-30px);
    }
    60% {
      -moz-transform: translateY(-15px);
      -ms-transform: translateY(-15px);
      -webkit-transform: translateY(-15px);
      transform: translateY(-15px);
    }
}

.arrow {
    position: absolute;
    bottom: 0;
    left: 50%;
    color: #F09819;
    margin-left: -20px;
    width: 40px;
    height: 60px; /*change with size of arrow to make sit on bottom */
  /*   background-image: url(); */
  /*   background-size: contain; */
}
  
.bounce {
    -moz-animation: bounce 2s infinite;
    -webkit-animation: bounce 2s infinite;
    animation: bounce 2s infinite;
}

/* Checkboxes */

ul.ks-cboxtags {
    list-style: none;
    padding: 20px;
}
ul.ks-cboxtags li{
  display: inline;
}
ul.ks-cboxtags li label{
    display: inline-block;
    background-color: rgba(255, 255, 255, .9);
    border: 0px solid black;
    color: #747474;
    border-radius: 25px;
    white-space: nowrap;
    margin: 3px 0px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    transition: all .2s;
}

ul.ks-cboxtags li label {
    padding: 8px 15px;
    cursor: pointer;
}

ul.ks-cboxtags li label::before {
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 12px;
    padding: 2px 6px 2px 2px;
    content: "\f067";
    transition: transform .3s ease-in-out;
}

ul.ks-cboxtags li input[type="checkbox"]:checked + label::before {
    content: "\f00c";
    transform: rotate(-360deg);
    transition: transform .3s ease-in-out;
}

ul.ks-cboxtags li input[type="checkbox"]:checked + label {
    border: 0px solid black;
    background-color: #ffbb00;
    color: #fff;
    transition: all .2s;
}

ul.ks-cboxtags li input[type="checkbox"] {
  display: absolute;
}
ul.ks-cboxtags li input[type="checkbox"] {
  position: absolute;
  opacity: 0;
}
ul.ks-cboxtags li input[type="checkbox"]:focus + label {
  border: 0 solid black;
}

.input-icons i { 
    position: absolute; 
} 
  
.input-icons { 
    width: 100%; 
    margin-bottom: 10px; 
} 
  
.icon { 
    padding: 12px; 
    color: #ffbb00; 
    /* min-width: 50px;  */
    text-align: left; 
} 

.iconB { 
    padding: 12px; 
    font-size: 20px;
    color: #ffbb00; 
    /* min-width: 50px;  */
    text-align: center; 
} 
  
.input-field { 
    width: 100%; 
    padding: 10px; 
    text-align: center; 
} 

.col-sm-10, .col-sm-9 {
    margin: auto;
}

.col-sm-6 {
    margin: auto;
    margin-top: 5%;
    margin-bottom: 5%;
}

/* Dev Start Radio */
.register-switch {
    height: 50px;
    margin-bottom: 15px;
    padding: 5px;
    border-radius: 2px;
    background-image: linear-gradient(to right, #F09819 0%, #EDDE5D 51%, #F09819 100%);
    box-shadow: inset 0 1px rgba(0, 0, 0, 0.05), inset 1px 0 rgba(0, 0, 0, 0.02), inset -1px 0 rgba(0, 0, 0, 0.02);

}
  
.register-switch-input {
    display: none;
}
  
.register-switch-label {
    float: left;
    width: 50%;
    padding: 4px;
    line-height: 32px;
    color: white;
    text-align: center;
    text-shadow: 0 -1px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.register-switch-labels {
    float: left;
    width: 33%;
    padding: 4px;
    line-height: 32px;
    color: white;
    text-align: center;
    text-shadow: 0 -1px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.register-switch-input:checked + .register-switch-label {
    font-weight: 500;
    color: #434248;
    text-shadow: 0 1px rgba(255, 255, 255, 0.5);
    background: white;
    border-radius: 2px;
    background-image: linear-gradient(to bottom, #fefefe, #eeeeee);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), 0 0 0 1px rgba(0, 0, 0, 0.1);
}

.register-switch-input:checked + .register-switch-labels {
    font-weight: 500;
    color: #434248;
    text-shadow: 0 1px rgba(255, 255, 255, 0.5);
    background: white;
    border-radius: 2px;
    background-image: linear-gradient(to bottom, #fefefe, #eeeeee);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), 0 0 0 1px rgba(0, 0, 0, 0.1);
}

.form-control {
    border-radius: 2px;
    /* added for request form styling */
    /* width: auto; */
}

/* .col-form-label {
    text-align: center !important;
} */

.start {
    margin-top: 5%;
}

.profile {
    text-align: center;
}

li.project, li.activeproject, li.completeproject, li.applieddeveloper, li.finaldeveloper {
    list-style-type: none;
    position: relative;
    padding-left: 15px;
}
  
li.project:before, li.activeproject:before, li.completeproject:before, li.applieddeveloper:before, li.finaldeveloper:before {
    font-family: "Font Awesome 5 Free";
    content: "\f0a9";
    font-weight: 900;
    font-size: 20px;
    position: absolute;
    /* top: 50%; */
    color: #ffbb00; 
    left: -10px;
}

.bold {
    color: #ffbb00;
    font-weight: bold;
    display: inline;
}

.info {
    font-family: 'Julius Sans One', sans-serif;
}

.cursive {
    font-family: 'Pacifico', cursive;
}

.logo {
    height: 50px;
}

#avatar {
    height: 200px;
}

.list-group {
    flex-direction: none;
}

/* Chatbox */

.chatBox {
    height: 200px;
    background: white;
    overflow: auto;
    color: black;
    text-align: left;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border: 2px solid #ffbb00;

}

#messageInput {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border: 2px solid #ffbb00;
}

.message {
    /* background: #7F7F7F;
    color: white;
    border-radius: 40px; */
    margin-top: 10px;
    /* padding-left: 20px; */
}