<div class="container-fluid">
    <div class="row">
        <div class="col profile">
            <div class="name">
                <h1>Hello.</h1>
                <p>{name}</p>
            </div>
            <br>
            <p>{email}</p>
        </div>
    </div>